body {
    background-image: url(../img/36128.png);
    background-size: cover;
}

canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

@font-face {
    font-family: 'OceanRush';
    src: url('../fonts/OceanRush.otf');
}